.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 33px;
}

.zoneCollapse {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

.collapse {
    padding-bottom: 32px;    
    width: 82.5%;
}

@media screen and (max-width: 480px) {
    .collapse {
        width: 100%;
    }
}  
  

