.footer {
    background-color: black;
    color: #FFFFFF;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:  209px;
    max-width: 1440px;
}

.logo {
    width: 122px;
    height: 39.44px;
}

